<div class="col-lg-12 marketing">
    <h1>Tired of this bullshit?</h1>
    <img src="images/bullshit.png" style="max-width: 75%;"><br>
    <h3>EasyAuth intercepts your Stanford authentication codes!</h3>
    <div class="marketing-examples">
        <div class="marketing-onsite">
            <img src="images/onsite.png">
            <strong>Posted here instantly!</strong>
        </div>
        <div class="marketing-separator">or</div>
        <div class="marketing-email">
            <img src="images/email.png">
            <strong>Get your codes emailed to you!</strong> Don't use your Stanford email, though.
        </div>
    </div>
    <br><h4>(You can keep sending them to your phone too)</h4>

    
</div>
<div class="col-lg-6">
    <form class="form-signin form-signup" action="/signup" method="POST">
        <h2 class="form-signin-heading">Sign up for $2/month<sup>*</sup></h2>
        <input type="text" name="email" class="form-control" placeholder="* Email address" required autofocus>
        <input type="text" name="phone" class="form-control" placeholder="Phone number">
        <input type="hidden" name="_method" value="post">
        <%= csrf_tag %>
        <input type="password" name="password" class="form-control" placeholder="* Password" required>
        <input type="password" name="password_confirmation" class="form-control" placeholder="* Confirm password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return validateSignup()">Sign up</button>
    </form>
</div>
<div class="col-lg-6">
    <form class="form-signin form-login" action="/login" method="POST">
        <h2 class="form-signin-heading">Log in</h2>
        <input type="text" name="email" class="form-control" placeholder="Email address" style="margin-top: 52px;" required>
        <input type="hidden" name="_method" value="post">
        <%= csrf_tag %>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <!--
        <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 54px;" onclick="return validateLogin()">Log in</button>
    </form>
</div>
<p style="text-align: center;">
* I have to charge because all the texting gets expensive. It's worth it!<br>
Find <a href="mailto:<%= APP_EMAIL %>">me</a> some venture capital and I'll make it free. <a href="#">#TheNextFacebook</a></p>
